@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
*{
    font-family: 'Pangolin';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    background-color: rgb(154, 2, 214);
    font-size: 1.5rem;
    color: rgb(32, 131, 12);
    height: 3rem;
    text-decoration: none;
    font-weight: bold;
}

body{
    
    color: rgb(255, 208, 0);
    font-weight: bolder;
    background-color: #f8bfff;
}

main{
    margin: 9.46rem;

}

footer{
    background-color: #b700ff;
}

footer a{
    color: #fff2b0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}